/* line 2, ../sass/shakespeare.scss */
body {
  font-family: arial, helvetica;
  font-size: 14px; }

/* line 7, ../sass/shakespeare.scss */
table, th, td {
  font-size: 10px; }

/* line 12, ../sass/shakespeare.scss */
#tabs table {
  margin-bottom: 10px; }
/* line 17, ../sass/shakespeare.scss */
#tabs tbody th {
  text-align: left; }
/* line 22, ../sass/shakespeare.scss */
#tabs td {
  text-align: center; }
  /* line 25, ../sass/shakespeare.scss */
  #tabs td:first-child, #tabs td:nth-child(2) {
    text-align: left; }

/* line 31, ../sass/shakespeare.scss */
.green {
  background-color: #0c0; }

/* line 35, ../sass/shakespeare.scss */
.ui-tabs .ui-tabs-panel {
  overflow-x: auto; }

/* line 39, ../sass/shakespeare.scss */
.sortWrapper {
  overflow-x: auto; }

/* line 43, ../sass/shakespeare.scss */
.sortDiv {
  float: left;
  width: 150px; }
  /* line 48, ../sass/shakespeare.scss */
  .sortDiv h3 {
    text-align: center;
    margin: 0 0 5px 0; }
  /* line 53, ../sass/shakespeare.scss */
  .sortDiv .renameReader {
    display: none;
    border: 0;
    margin: 0 0 5px 0;
    padding: 0;
    width: 100%;
    text-align: center;
    font-size: 1.17em;
    outline: 0 none; }
  /* line 64, ../sass/shakespeare.scss */
  .sortDiv h4 {
    text-align: center;
    font-weight: normal;
    font-style: italic;
    margin: 0 0 5px 0; }
  /* line 71, ../sass/shakespeare.scss */
  .sortDiv h5 {
    text-align: center;
    margin: 0 0 5px 0;
    font-size: 1em; }
  /* line 77, ../sass/shakespeare.scss */
  .sortDiv p {
    text-align: center;
    margin: 0; }

/* line 83, ../sass/shakespeare.scss */
.connectedSortable {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  float: left;
  margin: 0 5px;
  width: 122px;
  min-height: 60px; }
  /* line 92, ../sass/shakespeare.scss */
  .connectedSortable li {
    margin: 5px;
    padding: 5px;
    width: 120px;
    text-align: center; }
    /* line 98, ../sass/shakespeare.scss */
    .connectedSortable li > span {
      font-size: .8em; }

/* line 104, ../sass/shakespeare.scss */
.conflict {
  color: #c00;
  border-color: #c00;
  font-weight: bold; }

/* line 110, ../sass/shakespeare.scss */
.active {
  color: #00c;
  border-color: #00c;
  font-weight: bold; }

/* line 116, ../sass/shakespeare.scss */
.roleConflict {
  color: #fff;
  font-weight: bold;
  background: #c00; }

/* line 122, ../sass/shakespeare.scss */
.positive {
  color: #090; }

/* line 126, ../sass/shakespeare.scss */
.negative {
  color: #c00; }

/* line 130, ../sass/shakespeare.scss */
.unassigned {
  font-weight: bold;
  color: #c00; }

/* line 135, ../sass/shakespeare.scss */
table.infoTable {
  font-size: 12px; }

/* line 139, ../sass/shakespeare.scss */
table.infoTable td, table.infoTable th {
  vertical-align: top;
  font-size: 12px; }

/* line 144, ../sass/shakespeare.scss */
table.infoTable td {
  text-align: left; }

/* line 148, ../sass/shakespeare.scss */
.infoTable ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }

/* line 155, ../sass/shakespeare.scss */
.ui-state-highlight {
  height: 60px; }

/* line 159, ../sass/shakespeare.scss */
.addReader {
  cursor: pointer;
  color: #00c; }

/* line 164, ../sass/shakespeare.scss */
.charactersWrapper {
  position: fixed;
  top: 0;
  right: 0;
  border: 1px solid #ccc;
  background-color: #eee; }

/* line 172, ../sass/shakespeare.scss */
.showHideCharacters {
  text-align: right;
  display: block;
  cursor: pointer;
  padding: 5px; }

/* line 179, ../sass/shakespeare.scss */
.characters {
  display: none;
  padding: 1em; }

/* line 184, ../sass/shakespeare.scss */
.showCharacters .characters {
  display: block; }

/* line 188, ../sass/shakespeare.scss */
.characters h2 {
  margin-top: 0; }

/* line 192, ../sass/shakespeare.scss */
.characters ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* line 198, ../sass/shakespeare.scss */
.characters ul li {
  display: inline-block;
  width: 33%;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* line 207, ../sass/shakespeare.scss */
.acts {
  margin: 0;
  padding: 0;
  list-style-type: none; }

/* line 213, ../sass/shakespeare.scss */
.acts li {
  display: inline-block;
  padding: 0 10px;
  border-left: 1px solid #ccc; }

/* line 219, ../sass/shakespeare.scss */
.acts li:first-child {
  border-left: 0; }

/* line 223, ../sass/shakespeare.scss */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 80px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  background: #fff;
  border-bottom: 1px solid #ccc; }
  /* line 235, ../sass/shakespeare.scss */
  .header h1 {
    margin: 0 0 5px 0; }
  /* line 239, ../sass/shakespeare.scss */
  .header .totalPlay {
    text-align: center;
    width: 75%;
    height: 30px;
    border: 1px solid #000;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative; }
    /* line 247, ../sass/shakespeare.scss */
    .header .totalPlay .completed {
      background-color: #ccc;
      display: inline-block;
      height: 28px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10; }
    /* line 257, ../sass/shakespeare.scss */
    .header .totalPlay .percentText {
      z-index: 100;
      width: 100%;
      position: absolute;
      left: 0;
      top: 6px; }
  /* line 265, ../sass/shakespeare.scss */
  .header .showSort {
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #999;
    background-color: #ccc;
    font: 10px Arial;
    cursor: pointer;
    padding: 3px; }

/* line 280, ../sass/shakespeare.scss */
.sortSection {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 80px 5px 5px 5px;
  overflow-y: auto;
  z-index: 10; }

/* line 297, ../sass/shakespeare.scss */
.play {
  padding: 80px 5px 5px 5px;
  line-height: 1.5em; }
  /* line 301, ../sass/shakespeare.scss */
  .play h4 {
    font-size: 1.2em; }
  /* line 305, ../sass/shakespeare.scss */
  .play blockquote {
    font-style: italic; }

/* line 311, ../sass/shakespeare.scss */
.actLines {
  width: 100%;
  border-collapse: collapse;
  margin: .25em 0; }
  /* line 316, ../sass/shakespeare.scss */
  .actLines td, .actLines th {
    text-align: center;
    width: 20%;
    border: 1px solid #ccc; }
