body {
    font-family: arial, helvetica;
    font-size: 12px;
}

table, th, td {
    font-size: 10px;
}

table {
    margin-bottom: 10px;
}

tbody th {
    text-align: left;
}

td {
    text-align: center;
}

td:first-child, td:nth-child(2) {
    text-align: left;
}
    
.green {
    background-color: #0c0;
}

.ui-tabs .ui-tabs-panel {
    overflow-x: auto;
}

.sortWrapper {
    overflow-x: auto;
}

.sortDiv {
    float: left;
    width: 150px;
}

.sortDiv h3 {
    text-align: center;
    margin: 0;
}

.sortDiv h4 {
    text-align: center;
    font-weight: normal;
    font-style: italic;
    margin: 0;
}

.sortDiv h5 {
    text-align: center;
    margin: 0 0 5px 0;
    font-size: 1em;
}

.connectedSortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    margin: 0 5px;
}

.connectedSortable li {
    margin: 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 120px; 
    text-align: center;
}
 
.conflict {
    color: #c00;
    border-color: #c00;
    font-weight: bold;
}

.active {
    color: #00c;
    border-color: #00c;
    font-weight: bold;
}

.positive {
    color: #090;
}

.negative {
    color: #c00;
}

.unassigned {
    font-weight: bold;
    color: #c00;
}

table.infoTable {
    font-size: 12px;
}

table.infoTable td, table.infoTable th {
    vertical-align: top;
    font-size: 12px;
}

table.infoTable td {
    text-align: left;
}

.infoTable ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.conflicts {
    font-size: .75em;
}
