# Use PHP 5.4
#AddType application/x-httpd-php54 .php

# Use PHP 5.3
AddType application/x-httpd-php53 .php

<IfModule mod_rewrite.c>
DirectoryIndex index.php
Options +FollowSymLinks
Options +Indexes
RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !index.php
RewriteCond %{REQUEST_URI} !php
RewriteCond %{REQUEST_URI} !.js
RewriteCond %{REQUEST_URI} !.css

RewriteRule ^(.+)$ play.php?play=$1 [L,NC]
